# Python
__pycache__/
*.py[cod]
.venv/
env/

# C++ & Build
*.o
*.so
build/
.cache/

# Verilator
obj_dir/
*.vcd

# System & IDE
.DS_Store
.vscode/
VM/build/
VM/verilator_out/
VM/__pycache__/
*.so
*.o
*.vcd
tests/day6/__pycache__
